# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# WIP
data/
empirical/
neuralnetwork/Si

# Large files
*archive
*fingerprints
*results
*random_init
*metadata
*models

# Editor backup files
*~
.idea/
.vscode/
.*.sw?

# Log files
*.log
log.*
lammps.in
