# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Markdown
.markdown-preview.html
README.html

# WIP
/data/
empirical/
neuralnetwork/Si

# Large files
*archive
*fingerprints
*results
*random_init_2
*metadata
*models

# Editor backup files
*~
.idea/
.vscode/
.*.sw?

# Log files
kim.log
kliff.log
log.lammps
lammps.in

# Slurm output files
slurm-*.out
slurm_files/

# Large data
neuralnetwork/C/data/phonon*
neuralnetwork/C/data/results
neuralnetwork/C/data/*_partition_data/fingerprints
neuralnetwork/C/data/*_partition_data/*.pkl
neuralnetwork/C/data/*_partition_data/*.json
neuralnetwork/C/data/*_partition_data/DUNN_best*
neuralnetwork/C/data/*_partition_data/carbon_*_set
neuralnetwork/C/data/yonatan_partition_data/carbon_energies_forces